<launch>
  <arg name="usb_port"      default="/dev/ttyACM0"/>
  <arg name="baud_rate"     default="1000000"/>

  <node name="folex_controller" pkg="rosserial_python" type="serial_node.py" output="screen">
    <param name="port" value="$(arg usb_port)"/>
    <param name="baud" value="$(arg baud_rate)"/>
  </node>
</launch>
